.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

@media (max-width: 580px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
